* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

/* NAVBAR */
.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 18px;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.img-carro {
    height: 20px;
    vertical-align: sub;
}

/* CAROUSEL */
.img-carousel {
    height: 100vh;
    object-fit: cover;
}

.titulo-video {
    position: absolute;
    top: 45%;
    color: white;
}

.titulo-bold {
    font-weight: 700;
    font-size: 48px;
}

.titulo-light {
    font-size: 26px;
    animation: flash 5s;
}

/* ANIMACION BREATH */
@keyframes flash {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

/* PRODUCTOS */
.titulo-productos {
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    border-bottom: 3px solid #0077C0;
    width: 70px;
}

.productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "categoria-principal"
        "categoria-secundaria"
        "categoria-terciaria";
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.categoria-principal {
    grid-area: categoria-principal;
    background-image: url(../img/prod-1.png);
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: #3f3f3e3d;
    height: 200px;
}

.categoria-secundaria {
    grid-area: categoria-secundaria;
    background-image: url(../img/prod-2.png);
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: #3f3f3e3d;
    height: 200px;
}

.categoria-terciaria {
    grid-area: categoria-terciaria;
    background-image: url(../img/prod-3.png);
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: #3f3f3e3d;
    height: 200px;
}

.productos a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    position: absolute;
    font-weight: 700;
    padding: 15px 20px;
}

.productos span {
    border-bottom: 3px solid rgb(255, 255, 255);
}

/* DESTACADOS */
.tituloDestacados {
    font-size: 24px;
    border-bottom: 3px solid #0077C0;
    width: 70px;
    font-weight: 700;
    margin: 20px 0;
}

.btn-dest {
    background: #0077C0;
    font-size: 20px;
    color: white;
}

.img-dest {
    width: 450px;
    height: 250px;
}

.card-destacados {
    margin-top: 20px;
}

.card-destacados:nth-child(1) {
    margin-top: 0;
}

.precio{
    font-weight: 700;
    font-size: 24px;
}

.btn-dest:hover {
    background: #C7EEFF;
}